@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.header{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;

}

.header--titleLogo{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 15px;
}

.header--logo{
    padding-left: 10px;
}

.header--links{
    padding-inline-start: 0px;
    list-style: none;

}

.header--links li {
    display: inline-block;
    padding: 0px 15px;
}

.header--links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

.header--links li a:hover {
    color: red;
}

.header--account{
    padding-right: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;

}

.header--account:hover{
    color: red;
}